<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4><%= t('preorder.homepage.faqs.faq_title') %></h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''><%= t('preorder.homepage.faqs.q1') %></summary>
          <p><%= t('preorder.homepage.faqs.a1_html') %>
          <br />
          <br />
          <%= t('preorder.homepage.faqs.a1_2_html') %></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= t('preorder.homepage.faqs.q2') %></summary>
          <p><%= t('preorder.homepage.faqs.a2_html') %></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= t('preorder.homepage.faqs.q3') %></summary>
          <p><%= t('preorder.homepage.faqs.a3_html') %></p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary><%= t('preorder.homepage.faqs.q4') %></summary>
          <p><%= t('preorder.homepage.faqs.a4') %>
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary><%= t('preorder.homepage.faqs.q5') %></summary>
          <p><%= t('preorder.homepage.faqs.a5_html') %>
          <br />
          <br />
          <%= t('preorder.homepage.faqs.a5_2_html') %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary><%= t('preorder.homepage.faqs.q6') %></summary>
          <p><%= t('preorder.homepage.faqs.a6') %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''><%= t('preorder.homepage.faqs.q7') %></summary>
          <p><%= t('preorder.homepage.faqs.a7_hmtl') %></p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''><%= t('preorder.homepage.faqs.q8') %></summary>
          <p><%= t('preorder.homepage.faqs.a8') %>
          <p>
            <p><%= t('preorder.homepage.faqs.a8_2_html') %></p>
            <p><%= t('preorder.homepage.faqs.a8_3_html') %></p>
            <p><%= t('preorder.homepage.faqs.a8_4_html') %></p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
