<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        <%= t('preorder.homepage.key_points.what_is_selfstarter') %>
      </h3>
      <p>
        <%= t('preorder.homepage.key_points.what_is_selfstarter_2_html') %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        <%= t('preorder.homepage.key_points.how_do_i_use_it') %>
      </h3>
      <p>
        <%= t('preorder.homepage.key_points.how_do_i_use_it_2') %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        <%= t('preorder.homepage.key_points.just_a_skeleton') %>
      </h3>
      <p>
        <%= t('preorder.homepage.key_points.just_a_skeleton_2') %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        <%= t('preorder.homepage.key_points.lets_get_started') %>
      </h3>
      <p>
        <%= t('preorder.homepage.key_points.lets_get_started_2') %>
      <p>
    </div>
  </div>
</div>
