<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4><%= t('preorder.homepage.other_points.section_1') %></h4>
      <p><%= t('preorder.homepage.other_points.section_1_2') %></p>
    </li>
    <li id="section-2">
      <h4><%= t('preorder.homepage.other_points.section_2') %></h4>
      <p><%= t('preorder.homepage.other_points.section_2_2') %></p>
    </li>
    <li id="section-3">
      <h4><%= t('preorder.homepage.other_points.section_3') %></h4>
      <p><%= t('preorder.homepage.other_points.section_3_2') %></p>
    </li>
    <li id="section-4">
      <h4><%= t('preorder.homepage.other_points.section_4') %></h4>
      <p><%= t('preorder.homepage.other_points.section_4_2') %></p>
    </li>
  </ul>
</div>
