<p class="language-chooser"><%= t('preorder.copyright.language_options') %></p>
      <ul>
        <li><%= link_to 'English', :locale => :en %></li>
        <li><%= link_to 'Español', :locale => :es %></li>
        <li><%= link_to '中文', :locale => :cn %></li>
        <!-- You add links to veiw the page in new locales here-->
      </ul>
     
<p class="pull-right"><%= t('preorder.copyright.copyright_info_html') %></p>
