<div class="footer">
  <div class="wrapper clearfix">
    <ul>
      <li>
        <a href="#">/faq"><%= t('layouts.footer.faq') %></a>
      </li>
      <li>
        <a href="#"><%= t('layouts.footer.press') %></a>
      </li>
      <li>
        <a href="http://blog.lockitron.com/"><%= t('layouts.footer.blog') %></a>
      </li>
      <li>
        <a href="#"><%= t('layouts.footer.privacy') %></a>
      </li>
      <li>
          <a href="/account/login"><%= t('layouts.footer.login') %></a>
      </li>
    </ul>
    <p><%= t('layouts.footer.copyright') %></p>
  </div>
</div>
